/* THIS MAKE THE PAGE FIX AND DISABLE THE HORIZONTAL SCROLL, IT ALSO PUT A RESPONSIVE BACKGROUND */
body, html {
    height:100%;
	margin: 0;
    overflow-x: hidden;
}

body {

	background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* THIS GIVES MAIN HTML TEXT PROPERTIES */
p, h1, h2,h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

p {
    font-size: 1.5vw;
}

h1 {
	text-align: center;
    font-size: 4.5vw;
}

h2 {
	text-align: center;
    font-size: 2.5vw;
	padding:15px;
}


a {
	text-decoration:none;
}

/* CONTAINER OF TITLES */
.titleBox {
	display: inline-block;
	float: center;
	font-size: 4.5vw	;
	width: 100%;
	height: 20%;
	word-wrap: break-word;
	overflow:hidden;
}


/* THIS IS TO DISPLAY THE LOGO*/
#logo{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
	max-width: 1	0%;
	height:auto;
}

#logoPrincipal{
	position: fixed;
    top: 10%;
	left: 27%;	
	max-width: 50%;
	height:auto;
}

/* THIS IS TO DISPLAY INDICATION ON CLICKABLE LOGO*/
.marge {
margin-left: 2em;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* THERE IS TWO DIFFERENT KIND OF BUTTONS*/
.button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    	font-weight: 100;
	font-size: 1.5vw;
	max-width: 30%;
    	padding: 1% 3.2%;
    	margin: 4px 2px;	
    	text-align: center;
    	text-decoration: none;
    	cursor:pointer;
    	overflow: hidden;
    	outline:none;
	transition-duration: 0.2s;
}

 /*On top white background*/
.buttonTop {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #555555;
	color: black;
}
.buttonTop:hover {
    background-color: #555555;
    color: white;
}

 /*On bottom dark green background*/
.buttonBottom {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;	
	left: 62.75%;
}

.buttonBottom:hover {
    background-color: #e7e7e7;
    color: black;
}
/*For add button*/
.buttonAdd {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;	
	left: 32.4%;
}

.buttonAdd:hover {
    background-color: #e7e7e7;
    color: black;
}

.buttonEdit {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;	
	left: 42%;
}

.buttonEdit:hover {
    background-color: #e7e7e7;
    color: black;
}

.buttonDelete {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;	
	left: 51.5%;
}

.buttonDelete:hover {
    background-color: #e7e7e7;
    color: black;
}

/*On right side of header*/
.buttonHead {
	position: absolute;
	top:1%;
	right:1%;
	padding: 0.5% 1.5%;
}

/*On left side of header*/
.buttonLeft {
	position: absolute;
	top:1%;
	right:0%;
	padding: 0.5% 1.5%;
}


/*Group of editing buttons*/
.buttonEdits {
	margin:0;
	float:left;
	display: inline-block;
	position: relative;
	bottom: -30px;
	left:36%;
}


/* SETTINGS OF FORM */
.formBox	 {
	display: block;
	float: center;
	margin:0px auto;
	width: 55%;
    padding: 1% 1%;
	height: auto;
	background: rgba(250, 250, 250, 0.3); 
}



input[type=text], input[type=password], input[type=number] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
	text-align: left;
	font-size: 1.5vw;
	background-color: Transparent;
	width: 20%;
    padding: 1% 1%;
    margin: 1% 2%;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* TABLES SET UP*/
.innerb {
height:100%;
overflow:auto;
}
.tableone .tabletwo{
	background: rgba(250, 250, 250, 0.3); 
}
.tableone {
	width:45%;
	height:35%;
	margin:auto;
	border-collapse:collapse;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	background:transparent;
	color:black;
}
.tabletwo {
	width:100%;
	height:auto;
	border-collapse:collapse;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tableone th, .tabletwo th, .tableone td, .tabletwo td {
    text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3vw;
	font-weight: 200;
	color: black;
}
.tableone th, .tabletwo th, .tabletwo td {
	border-bottom: 0.5px solid black;
}

.tabletwo td {
	padding: 1vw;
}
.tabletwo tr:hover{
	background:white;
	background-opacity:0.5;
	color:white;
}
.codeElement {width:13%;}
.textElement {width:100%;}


h3{
text-align: center;
    font-size: 1.5vw;
	padding:15px;
	

}

#lecture_title{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
	text-align: left;
	font-size: 1.5vw;
	background-color: Transparent;
	width: 50%;
	
    padding: 1% 1%;
    margin: 1% 2%;
    
}

.content{  position: fixed;
  	left: 0;
  	right: 0;
  	z-index: 9999;
  	margin-left: 20px;
  	margin-right: 20px;
}

.wrapper{
    border: 1px black;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 800px;
    background-color: Transparent;
 }
 .wrapper .selection{
  height: 150px;
   width:800px;
   border:1px;
   background-color: Transparent; 
 }

#button_submit{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;
	left: 62.75%;
}

#button_delete{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;
	left: 51.5%;
}

#button_delete:hover {
    background-color: #e7e7e7;
    color: black;
}

#button_edit{
	background-color: Transparent;
   	 background-repeat:no-repeat;
    	border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;	
	left: 42%;
}

#button_edit:hover {
    background-color: #e7e7e7;
    color: black;
}

#button_sub{
	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 10%;
	left: 40%;
}

#button_sub:hover {
    background-color: #e7e7e7;
    color: black;
}

.buttonStatistics {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #e7e7e7;
	color: white;
	position: absolute;
	bottom: 17%;	
	left: 19.5%;
}

.buttonStatistics:hover {
    background-color: #e7e7e7;
    color: black;
}

#modal{
	color: teal;		
}

#in_text{
	width: 80%;
	text-align: center;

}
#cor_text{
	text-align: center;

}